@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root, body {
  --fd-color-white: #fff;
  --fd-color-black: #000;
  --fd-color-dark-grey: #4e4e4e;
  --fd-background-dark: #1b1b1b;
  --fd-background-light: #fff;
  --fd-background-light-grey: #e2e2e2;
  --color-announcement-banner-accent: #ff6d91;
}

html, body {
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
}

body {
  font-family: 'Inter-Regular';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}